#followrec_container {
  min-height: 80vh;

  overflow: hidden;
  padding: 5px;
  padding-right: 10px;
}
#followrec_box {
  box-shadow: black 0px 0px 3px;
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
}
#followrec_header {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #00abf7;
  height: fit-content;
  color: white;
}

/* #followrec_content_box {
  padding: 0px 0px;
  overflow: hidden;
} */
.followrec_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  box-shadow: black 0px 0px 3px;
  row-gap: 5px;
}
.followrec_box_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.followrec_box_info_img {
  border-radius: 50%;
  margin-right: 10px;
}
.followrec_box_follow_button {
  margin-left: auto;
  margin-right: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.followrec_box_follow_button:hover {
  background-color: #00abf7;
}
.followrec_box_follow_button button {
  text-transform: unset;
  font-size: 17px;
}
.followrec_box_follow_button button:hover {
  color: white;
}
