#register_form_container {
  margin-top: 180px;
  margin-bottom: 50px;
}
#register_container {
  display: flex;
  max-width: 1200px;
  box-shadow: 0px 2px 10px #ccc;
  background-color: white;
  margin: 0 auto;
}
#register_box {
  flex-grow: 1;
  padding: 30px;
}
.register_input_container {
  max-height: 370px;

  overflow-y: scroll;
}

#register_image_box {
  flex-grow: 1;
  position: relative;
}
.register_field_boxes {
  margin-bottom: 10px;
}
.register_field_labels {
  font-weight: bold;
}
.field_inputs {
  height: 15px;
  font-size: 20px;
  color: black;
  background-color: white;
  padding: 10px 0px;
  padding-right: 50px;
  border: none;
  border-bottom: 1px solid #00abf7;
}
.field_inputs + fieldset {
  border: none;
}
.register_errors {
  margin-bottom: 5px;
}
.visibilityIcon {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.register_buttons {
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
}

.register_btn {
  text-transform: unset;
  background-color: #00abf7;
  font-weight: bold;
  color: white;
  flex-grow: 1;
}

.back_to_login {
  text-align: center;
  text-transform: unset;
  border: 1px solid black;
  font-weight: bold;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  display: block;
  padding: 7px;
  border-radius: 4px;
  flex-grow: 1;
}
.back_to_login:hover {
  background-position: left bottom;
  color: white;
}

.welcome_msg {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
}
.welcome_header {
  color: white;
}

@media only screen and (max-width: 800px) {
  #register_image_box {
    display: none;
  }
  #register_box {
    max-width: 100%;
    flex-basis: 100%;
  }
  #register_container {
    flex-basis: 95%;
  }
}
